@model IEnumerable<Bank.Entities.Adres>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Klient.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Miasto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KodPocztowy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ulica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumerDomu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Klient.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Miasto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KodPocztowy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ulica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumerDomu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdresID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdresID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdresID })
        </td>
    </tr>
}

</table>
